{% extends "base.html" %}
{% block title %} Admin {% endblock title %}
{% block content %}
  {% from "components/form.html" import createform %}
    <h2>
      Hello admin {{current_user.username}}
    </h2>
    <h3>
      Edit account
    </h3>
    {% with messages = get_flashed_messages(with_categories=true) %}
<!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
{% if messages %}
	{% for category, message in messages %}
			<div class="alert alert-{{category}} mt-4
				alert-dismissible
				fade show
				text-left" role="alert"> {{message}}
				<button type="button"
				class="btn-close" data-bs-dismiss="alert"
				aria-label="Close"></button>
			</div>
	{% endfor %}
{% endif %}
{% endwith %}
    {{createform(forms,edit_account=true)}}
{% endblock content %}
